<% include partials/header %>

<div class="jumbotron">
    <div class="container">
        <p>Welcome to the Admin Dashboard</p>
        <li>
            <ul><a href="/register">Register new user</a></ul>
            <ul><a href="/uploadInvoices">Upload new invoice</a></ul>
            <ul><a href="/uploadBudget">Job & Budget Manager</a></ul>
        </li>
    </div>
</div>


<% include partials/footer %>