<% include partials/header %>
<body class="homescreen">


    <div class="jumbotron">
        <div class="container">
            <div class='homescreenJumbotron'>
                <h1>Approval System</h1>
                <p>This is more or less practice for webdev</p>
                <hr>
                <button class='btn btn-default'><a href="adminDashboard"> Click here to access the Admin Dashboard</a></button>
            </div>
        </div>
    </div>


<% include partials/footer %>