<% include partials/header %>



<div class="container">
    <h1>Upload Job Information</h1>
    <form action="/uploadBudget" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Job Number" name="jobNumber">
            <br>
            <input class="form-control" type="text" placeholder="Description" name="jobDescription">
            <br>
            <input type="file" name="myFile" />
            <input type="submit" value="Submit"/>
        </div>

    </form>
 
</div>
<% include partials/footer %>